.container-inner .inner-box {
    padding: 40px 0 120px 0;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.container-inner h3.title {
    margin: 40px 20px;
    font-size: 26px;
    font-weight: 600;
}

.container-inner .form-box {
    text-align: center;
    display: inline-block;
}

.container-inner .form-wrap {
    width: 800px;
    min-height: 250px;
    padding: 40px 100px 60px 100px;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.container-inner .form-box .input-wrap .input-title {
    width: calc(30% - 15px);
    display: inline-block;
    vertical-align: bottom;
}

.container-inner .form-box .input-wrap input:not([type=checkbox]),
.container-inner .form-box .input-wrap textarea,
.container-inner .form-box .input-wrap select {
    width: 70%;
    display: inline-block;
    vertical-align: bottom;
}

.container-inner .error-message-wrap {
    line-height: 60px;
}

.container-inner .error-message-wrap * {
    color: #dd4814;
    font-size: 16px;
    line-height: 20px;
}

.container-inner .button-wrap {
    margin-top: 40px;
}

.container-inner .form-box .button-wrap {
    margin-top: 20px;
}

.container-inner .button-wrap .button {
    min-width: 100px;
    padding: 10px 20px;
    margin: 0 10px;
}

/*for lines class*/
.container-inner .form-box .input-wrap.lines input[type=checkbox] {
    margin: 10px;
}

.container-inner .form-box .input-wrap.lines input:not([type=checkbox]),
.container-inner .form-box .input-wrap.lines textarea,
.container-inner .form-box .input-wrap.lines select {
    line-height: 40px;
}
