.container-inner .inner-box {
    padding: 40px 0 120px 0;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.container-inner h3.title {
    margin: 40px 20px;
    font-size: 26px;
    font-weight: 600;
}

.container-inner .form-wrap {
    width: 800px;
    padding: 20px 0 40px 0;
    text-align: center;
    display: inline-block;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.container-inner .form-box {
    width: 700px;
    display: inline-block;
    padding-bottom: 40px;
}


.container-inner .form-wrap .input-wrap .input-title {
    width: calc(35% - 15px);
    display: inline-block;
    vertical-align: bottom;
}

.container-inner .form-wrap .input-wrap input,
.container-inner .form-wrap .input-wrap textarea,
.container-inner .form-wrap .input-wrap select {
    width: 65%;
    display: inline-block;
    vertical-align: bottom;
}

.container-inner .error-message-wrap {
    height: 60px;
    line-height: 60px;
}
.container-inner .error-message-box {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.container-inner .error-message-wrap .error-message-box * {
    color: #dd4814;
    font-size: 16px;
    line-height: 20px;
}
