.form-wrap .input-wrap {
    text-align: left;
    margin: 10px 0;
    font-size: 0;
}

.form-wrap .input-wrap * {
    vertical-align: top;
    display: inline-block;
    line-height: 30px;
    font-size: 18px;
}

.form-wrap .input-wrap .input-title {
    width: calc(35% - 15px);
    text-align: right;
    margin-right: 15px;
    font-weight: 400;
}

.form-wrap .input-wrap input,
.form-wrap .input-wrap textarea {
    width: 65%;
    font-weight: 200;
}

.form-wrap .input-wrap select {
    width: 45%;
    height: 30px;
    line-height: 30px;
    font-weight: 200;
    background: #fff;
    color: #000;
}

.form-wrap .input-wrap textarea {
    height: 80px;
}

body .form-wrap .input-wrap input[type=checkbox] {
    margin: 5px;
    width: 20px;
    height: 20px;
}


.form-wrap .input-wrap.lines * {
    display: block;
}
.form-wrap .input-wrap.lines .input-title {
    width: 100%;
    line-height: 22px;
    text-align: left;
    font-size: 16px;
}
.form-wrap .input-wrap.lines input,
.form-wrap .input-wrap.lines textarea {
    width: 100%;
}

.form-wrap .info-wrap {
    font-size: 16px;
    line-height: 30px;
    color: #ff6600;
    text-align: left;
}
