.popup-wrap {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 15;
}

.popup-wrap .popup {
    width: 700px;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    animation-duration: 0.2s;
    animation-name: popupFadeIn;
}

.popup-wrap .popup-box {
    position: relative;
}

.popup-wrap .popup-box.has-control-button {
    padding-bottom: 51px;
}

.popup-wrap .popup-inner {
    overflow-y: scroll;
    max-height: 400px;
    overflow-x: hidden;
    padding: 20px 20px 40px 20px;
}

.popup-wrap .popup-box.has-control-button .popup-inner {
    padding: 20px;
}

.popup-wrap .popup-inner-wrap {
    overflow: hidden;
}

.popup-wrap .popup .interface {
    height: 40px;
    line-height: 40px;
    text-align: right;
    background: #222;
    position: relative;
    font-size: 0;
}

.popup-wrap .popup .interface .button.close {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.popup-wrap .popup .interface .button.close * {
    display: inline-block;
    vertical-align: middle;
}

.popup-wrap .row {
    text-align: left;
    font-size: 0;
}

.popup-wrap .column {
    padding: 10px 5px;
    line-height: 30px;
    text-align: left;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    vertical-align: bottom;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.popup-wrap .control-button-wrap.absolute {
    line-height: 20px;
    text-align: right;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
}

.popup-wrap .control-button-box {
    padding: 10px 20px 10px 20px;
}

@media (max-width: 1070px) {
    .popup-wrap .popup {
        width: 100%;
    }
}
