.table-box {
    min-height: 600px;
}

.table-wrap {
    width: 1200px;
    padding: 0 40px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 0;
    line-height: normal;
}

.table-wrap .row {
    text-align: left;
    background: #fff;
}

.table-wrap .row a {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.table-wrap .column {
    padding: 8px 10px;
    line-height: 30px;
    text-align: left;
    box-sizing: border-box;
    font-size: 18px;
    display: inline-block;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.table-wrap .column img {
    vertical-align: middle;
}

.table-wrap .row-title .row {
    padding: 0 15px;
    font-weight: 400;
}

/*테이블 내의 라인*/
.table-wrap li:after, .table-wrap .row-title:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #ddd;
}
.table-wrap .row-title:after {
    background: #000;
}

.table-wrap li .button.row-button {
    position: relative;
}

.table-wrap li .button.row-button:hover:after {
    content: "";
    display: block;
    background: rgba(200, 200, 200, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
