.inner-box {
    padding: 40px 0;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

h3.title {
    margin: 40px 20px;
    font-size: 26px;
    font-weight: 600;
}

.list-wrap .column.code {
    width: 20%;
}

.list-wrap .column.name {
    width: 20%;
}

.list-wrap .column.path {
    width: 35%;
}

.list-wrap .column.local {
    width: 10%;
}

.list-wrap .column.local-count {
    width: 15%;
}

.list-wrap .row {
    position: relative;
    cursor: move;
}

.list-wrap .button.detail {
    width: 40px;
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 0;
}

.over {
    border: 3px dotted #666;
}
