.table-wrap li .button.row-button {
    padding-right: 50px;
}

.table-wrap .row-title .row {
    padding-right: 50px;
}

.table-wrap .column.code {
    width: 15%;
}

.table-wrap .column.name {
    width: 20%;
}

.table-wrap .column.path {
    width: 30%;
}

.table-wrap .column.main-only {
    width: 10%;
}

.table-wrap .column.local {
    width: 10%;
}

.table-wrap .column.local-count {
    width: 15%;
}

.table-wrap .row {
    position: relative;
    cursor: move;
}

.table-wrap .button.detail {
    width: 40px;
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 0;
}

.over {
    border: 3px dotted #666;
}

@media (max-width: 1070px) {
    .table-wrap .column.code {
        width: 30%;
    }

    .table-wrap .column.name {
        width: 40%;
    }

    .table-wrap .column.path {
        width: 30%;
    }

    .table-wrap .column.main-only {
        display: none;
    }

    .table-wrap .column.local {
        display: none;
    }

    .table-wrap .column.local-count {
        display: none;
    }
}
