.code-reward-request .table-wrap .column.code {
    width: 20%;
}

.code-reward-request .table-wrap .column.name {
    width: 30%;
}

.code-reward-request .table-wrap .column.is_active {
    width: 50%;
}

@media (max-width: 840px) {
    .code-reward-request .table-wrap .column.code {
        width: 30%;
    }

    .code-reward-request .table-wrap .column.name {
        width: 70%;
    }

    .code-reward-request .table-wrap .column.value {
        display: none;
    }
}
