.container-inner .logo-wrap .upload-item-add,
.container-inner .logo-wrap .upload-item,
.container-inner .footer-logo-wrap .upload-item-add,
.container-inner .footer-logo-wrap .upload-item {
    width: 400px;
    height: 150px;
    line-height: 200px;
    text-align: center;
    display: inline-block;
    margin: 6px;
    overflow: hidden;
    position: relative;
}

.container-inner .logo-box,
.container-inner .footer-logo-box {
    background-color: #efefef;
}

.container-inner .video-wrap {
    font-size: 0;
}

.container-inner .video-wrap .upload-item {
    position: relative;
}

.container-inner .video-wrap .upload-item-add,
.container-inner .video-wrap .upload-item {
    width: 450px;
    height: 300px;
    line-height: 200px;
    text-align: center;
    display: inline-block;
    margin: 6px;
    overflow: hidden;
}

.container-inner .video-wrap .upload-item video {
    width: 100%;
    height: auto;
}

.container-inner .slider-wrap .slick-wrap {
    padding: 20px 40px;
}

.container-inner .slider-wrap .slick-item {
    height: 250px;
    line-height: 200px;
    text-align: center;
    margin: 10px;
    border: 1px solid #eee;
}

/*slick override*/
.container-inner .slider-wrap .slick button.slick-prev {
    left: -40px;
}

.container-inner .slider-wrap .slick button.slick-next {
    right: -40px;
}

.container-inner .uploader .upload-item {
    position: relative;
}

.container-inner .uploader .upload-item-add {
    border: 1px solid #fff;
}

.container-inner .upload-item-add input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.container-inner .upload-item-add label {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/*.container-inner .slider-wrap .slick-item > a {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.container-inner .upload-item-hover {
    display: none;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.container-inner .upload-item:hover .upload-item-hover {
    display: inline-block;
}

.container-inner .upload-item-hover .button.delete-image {
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

.container-inner .upload-item-hover .button.delete-image * {
    vertical-align: middle;
}

.container-inner .control-button-wrap {
    margin-top: 10px;
}

.container-inner .button-wrap {
    padding-top: 20px;
}

.container-inner .button-wrap .button {
    min-width: 100px;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
}

@media (hover: none) {
    /* hover 불가능한 경우 */
    .container-inner .upload-item .upload-item-hover {
        display: inline-block;
        position: static;
    }
}

@media (max-width: 840px) {
    .container-inner .video-wrap .upload-item-add,
    .container-inner .video-wrap .upload-item {
        width: calc(100% - 20px);
        margin: 10px;
        box-sizing: border-box;
    }


    .slick {
        max-width: 600px
    }

    .slick button {
        border-radius: 50%;
        /*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);*/
    }

    .container-inner .slider-wrap .slick-wrap {
        padding: 5px 10px;
    }

    .container-inner .slider-wrap .slick-item {
        margin: 5px;
    }

    .container-inner .slider-wrap .slick button.slick-prev {
        left: -10px;
        background-size: 30%;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .container-inner .slider-wrap .slick button.slick-next {
        right: -10px;
        background-size: 30%;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .container-inner .slider-wrap .slick-item {
        height: 50vw;
        max-height: 250px;
    }
}
