.inner-box {
    padding: 40px 0;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

h3.title {
    margin: 40px 20px;
    font-size: 26px;
    font-weight: 600;
}

.list-wrap .column.name {
    width: 20%;
}

.list-wrap .column.address {
    width: 50%;
}

.list-wrap .column.latitude {
    width: 15%;
}

.list-wrap .column.longitude {
    width: 15%;
}
