.table-wrap .column.user {
    width: 20%;
}

.table-wrap .column.content {
    width: calc(68% - 180px);
}

.table-wrap .column.board {
    width: 12%;
}

.table-wrap .column.created-at {
    width: 180px;
    text-align: right;
    /*padding-right: 90px;*/
}

.table-wrap .row {
    position: relative;
}

.table-wrap .button.float {
    width: 40px;
    position: absolute;
    top: 5px;
    padding: 0;
}

.table-wrap .button.detail {
    right: 10px;
}

.table-wrap .button.topic {
    right: 50px;
}

@media (max-width: 1070px) {
    .table-wrap .column.user {
        width: 30%;
    }

    .table-wrap .column.content {
        width: 70%;
    }

    .table-wrap .column.board {
        display: none;
    }

    .table-wrap .column.created-at {
        display: none;
    }
}
