.list-wrap .column.user {
    width: 20%;
}

.list-wrap .column.content {
    width: 50%;
}

.list-wrap .column.board {
    width: 12%;
}

.list-wrap .column.created-at {
    width: 18%;
    text-align: right;
    /*padding-right: 90px;*/
}

.list-wrap .row {
    position: relative;
}

.list-wrap .button.float {
    width: 40px;
    position: absolute;
    top: 5px;
    padding: 0;
}

.list-wrap .button.detail {
    right: 10px;
}

.list-wrap .button.topic {
    right: 50px;
}
