.table-wrap li .button.row-button {
    padding-right: 100px;
}

.table-wrap .row-title .row {
    padding-right: 100px;
}

.table-wrap .column.code {
    width: 20%;
}

.table-wrap .column.alias {
    width: 50%;
}

.table-wrap .column.time-select {
    width: 15%;
}

.table-wrap .column.public {
    width: 15%;
}

.table-wrap .row {
    position: relative;
}

.table-wrap .button.detail {
    width: 40px;
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 0;
}

.table-wrap .button.calendar {
    width: 40px;
    position: absolute;
    right: 50px;
    top: 5px;
    padding: 0;
}

@media (max-width: 1070px) {
    .table-wrap .column.code {
        width: 30%;
    }

    .table-wrap .column.alias {
        width: 70%;
    }

    .table-wrap .column.time-select {
        display: none;
    }

    .table-wrap .column.public {
        display: none;
    }
}
