.list-wrap .column.questioner {
    width: 20%;
}

.list-wrap .column.status {
    width: 20%;
}

.list-wrap .column.expect-date {
    width: 30%;
}

.list-wrap .column.expect-time {
    width: 30%;
}
