.table-wrap .column.questioner {
    width: 20%;
}

.table-wrap .column.status {
    width: 20%;
}

.table-wrap .column.expect-date {
    width: 15%;
}

.table-wrap .column.expect-time {
    width: 15%;
}

.table-wrap .column.confirm-date {
    width: 15%;
}

.table-wrap .column.confirm-time {
    width: 15%;
}
