.table-wrap .badge {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
    display: inline-block;
}

.table-wrap .badge.requested {
    background: #ddbd2b;
}

.table-wrap .badge.accepted {
    background: #2ea400;
}

.table-wrap .badge.refused {
    background: #ba2b14;
}

.table-wrap .column.questioner {
    width: 20%;
}

.table-wrap .column.status {
    width: 20%;
}

.table-wrap .column.expect-date {
    width: 15%;
}

.table-wrap .column.expect-time {
    width: 15%;
}

.table-wrap .column.confirm-date {
    width: 15%;
}

.table-wrap .column.confirm-time {
    width: 15%;
}

@media (max-width: 1070px) {
    .table-wrap .column.questioner {
        width: 30%;
    }

    .table-wrap .column.status {
        width: 40%;
    }

    .table-wrap .column.expect-date {
        display: none;
    }

    .table-wrap .column.expect-time {
        display: none;
    }

    .table-wrap .column.confirm-date {
        width: 30%;
    }

    .table-wrap .column.confirm-time {
        display: none;
    }
}
