.table-wrap .column.code {
    width: 20%;
}

.table-wrap .column.alias {
    width: 50%;
}

.table-wrap .column.time-select {
    width: 15%;
}

.table-wrap .column.public {
    width: 15%;
}

.table-wrap .row {
    position: relative;
}

.table-wrap .button.detail {
    width: 40px;
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 0;
}
