#container {
    width: 100%;
    min-width: 1200px;
    text-align: center;
    position: relative;
}

.page-inner, .container-inner {
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.container-inner {
    width: 1120px;
    min-height: 740px;
}

.container-inner .container-wrap {
    width: 100%;
    padding: 40px 0 80px 0;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    position: relative;
}

.page-title {
    margin: 40px 20px;
    font-size: 26px;
    font-weight: 600;
}

.page-sub-title {
    margin: 20px;
    text-align: left;
    font-size: 22px;
    font-weight: 600;
    color: #222;
}

/*button style*/
.button {
    cursor: pointer;
    display: inline-block;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.button.disabled {
    pointer-events: none;
}

.button:focus {
    outline: none;
}

.button.black {
    background: #000;
    color: #fff;
    border: 1px solid #000;
}

.button.black:hover {
    background: #444;
}

.button.black.disabled {
    background: #666;
    border: 1px solid #666;
    cursor: default;
}

.button.black.disabled.hover {
    background: #666;
}

.button.white {
    background: #ffff;
    color: #000;
    border: 1px solid #000;
}

.button.white:hover {
    background: #ddd;
}

.button.white.disabled {
    background: #bbb;
    border: 1px solid #666;
    cursor: default;
}

.button.white.disabled.hover {
    background: #bbb;
}

.selector {
    cursor: pointer;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*input style*/
input, textarea {
    resize: none;
    padding: 0 5px;
    border: 1px solid #bbb;
    font-weight: 200;
}

textarea {
    padding: 3px 5px;
}

input:focus, textarea:focus {
    border: 1px solid #000;
}

input:focus[readonly], textarea:focus[readonly] {
    border: 1px solid #bbb;
}

input.under-line[readonly], input.under-line:focus[readonly] {
    border: none;
    /*border-bottom: 1px solid rgba(0, 0, 0, 0);*/
    border-bottom: 1px solid #efefef;
}

textarea.under-line[readonly], textarea.under-line:focus[readonly] {
    border: none;
    border: 1px solid #efefef;
}

input.under-line {
    border: none;
    border-bottom: 1px solid #bbb;
}

input.under-line:focus {
    border-bottom: 1px solid #000;
}

input[readonly] {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

input[type=checkbox] {
    accent-color: #222;
    margin: 5px;
    width: 20px;
    height: 20px;
}

.line-before:before,
.line-after:after,
.lines-horizontal:after,
.lines-horizontal:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #ddd;
}

.line {
    display: block;
    width: 100%;
    height: 1px;
    background: #ddd;
}

.line.black {
    background: #000;
}

.line-before.black:before,
.line-after.black:after,
.lines-horizontal.black:after,
.lines-horizontal.black:before {
    background: #000;
}

.button.under-line {
    position: relative;
}

.control-button-wrap {
    font-size: 0;
    text-align: right;
}

.control-button-wrap .button.under-line {
    height: 20px;
    line-height: 20px;
    margin: 5px;
    font-weight: 200;
}

.button.under-line img {
    margin-right: 2px;
}

.button.under-line span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.button.under-line:hover:after {
    content: "";
    display: inline-block;
    height: 1px;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: -3px;
    background: #000;
}

.button.out-line {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 0 8px;
    line-height: normal;
}

.button.out-line span {
    padding: 0 2px;
}

.button.out-line:hover {
    border: 1px solid #000;
}

.control-button-wrap span {
    font-size: 18px;
    vertical-align: middle;
}

.control-button-wrap * {
    vertical-align: middle;
}

.no-data-box {
    width: 100%;
    height: 300px;
    line-height: 298px;
    vertical-align: middle;
    display: inline-block;
}

.no-data-box:before,
.no-data-box:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #ddd;
}

.no-data-wrap {
    line-height: 40px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.no-data-wrap * {
    vertical-align: middle;
}

.no-data-wrap span {
    font-weight: 200;
    font-size: 18px;
    display: block;
    color: #ddd;
}

/*slick 관련 default 설정*/
/*slick 내부에서 display 가 block 인 경우는 slick height 가 비정상적으로 나온다*/
.slick {
    width: 100%;
    line-height: normal;
    margin: 0px auto;
    position: relative;
}

.slick-list {
    overflow: hidden;
}

.slick-item, .slick-item-wrap {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

/*mobile>>1행에 2열 추가*/
.slick-item-wrap {
    margin: 5px;
    vertical-align: top;
}

.slick-item-wrap .slick-item {
    width: calc(100% - 10px);
}

/*<<*/
.slick button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    z-index: 20;
    text-indent: -9999px;
    border: none;
    background-color: #ffffff;
    background-blend-mode: multiply;

    cursor: pointer;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.slick button.slick-disabled {
    visibility: hidden;
}

.slick button.slick-prev {
    left: 0;
    background: url('/asset/images/icon/button_left@2x.png') no-repeat center;
}

.slick button.slick-next {
    right: 0;
    background: url('/asset/images/icon/button_right@2x.png') no-repeat center;
}

.error-message-wrap {
    text-align: center;
    line-height: 40px;
}

.error-message-wrap * {
    color: #dd4814;
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
    word-break: break-word;
}

@keyframes loading {
    from {
        rotate: 45deg;
    }

    to {
        rotate: 405deg;
    }
}

.loading-wrap {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 500;
    font-size: 0;
    display: none;
    touch-action: none;
}

.loading-wrap .gadget {
    width: 80px;
    height: 80px;
    display: inline-block;
    border: 15px solid #eee;
    border-radius: 50%;
    border-top: 15px solid #aaa;
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;

    animation-duration: 1s;
    animation-name: loading;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.info-text-wrap {
    font-size: 16px;
    line-height: 30px;
    color: #ff6600;
    text-align: left;
}

.mobile-only {
    display: none !important;
}

.pc-only {
    display: inline-block !important;
}

@media (max-width: 840px) {
    #container {
        min-width: auto;
    }

    .container-inner {
        width: 100%;
        min-height: 800px;
        padding-top: 60px;
    }

    .mobile-only {
        display: inline-block !important;
    }

    .pc-only {
        display: none !important;
    }

    .info-text-wrap {
        margin: 0 10px;
    }
}
