.list-wrap .column.username {
    width: 20%;
}

.list-wrap .column.type {
    width: 15%;
}

.list-wrap .column.name {
    width: 15%;
}

.list-wrap .column.email {
    width: 30%;
}

.list-wrap .column.created-at {
    width: 20%;
}
