.grid-wrap {
    width: 1200px;
    min-height: 800px;
    display: inline-block;
    text-align: left;
    font-size: 0;
}

.grid-wrap .grid-item {
    margin-bottom: 20px;
}

@media (max-width: 840px) {
    .grid-wrap {
        width: calc(100% - 20px);
    }

    .grid-item {
        width: calc(50% - 10px);
        height: 60vw;
        margin: 5px;
    }

    .grid-wrap .grid-item {
        margin-bottom: 10px;
    }
}
