.topic-wrap {
    min-height: 400px;
}

.topic-wrap .row {
    text-align: left;
    font-size: 0;
}

.topic-wrap .row .column {
    padding: 10px;
    line-height: 35px;
    text-align: left;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    vertical-align: bottom;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.topic-wrap .row .column.title {
    font-size: 20px;
}

.topic-wrap .text-wrap {
    text-align: left;
}

.topic-wrap .slider-wrap {
    padding: 20px 40px;
}

.topic-wrap .slider-wrap .slick-item {
    height: 250px;
    line-height: 200px;
    text-align: center;
    margin: 10px;
    border: 1px solid #eee;
}

/*slick override*/
.topic-wrap .slider-wrap .slick button.slick-prev {
    left: -40px;
}

.topic-wrap .slider-wrap .slick button.slick-next {
    right: -40px;
}

@media (hover: none) {
    /* hover 불가능한 경우 */
    .container-inner .upload-item .upload-item-hover {
        display: inline-block;
        position: static;
    }
}

@media (max-width: 840px) {
    .slick {
        max-width: 600px
    }

    .slick button {
        border-radius: 50%;
        /*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);*/
    }

    .topic-wrap .slider-wrap {
        padding: 10px;
    }

    .topic-wrap .slider-wrap .slick-item {
        margin: 5px;
        height: 50vw;
        max-height: 250px;
    }

    .topic-wrap .slider-wrap .slick button.slick-prev {
        left: -10px;
        background-size: 30%;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .topic-wrap .slider-wrap .slick button.slick-next {
        right: -10px;
        background-size: 30%;
        background-color: rgba(255, 255, 255, 0.8);
    }
}
