.topic-wrap .row .column.title {
    width: 60%;
}

.topic-wrap .row .column.created-at {
    width: 40%;
    font-size: 16px;
    text-align: right;
}

.topic-wrap .text-wrap .content {
    margin: 10px 20px;
    min-height: 150px;
    font-size: 18px;
}

.topic-wrap .control-wrap {
    line-height: 20px;
    position: absolute;
    bottom: 20px;
    right: 0;
}
