.row .column.user {
    font-size: 0;
    width: 60%;
}

.row .column.link a {
    line-height: 30px;
    vertical-align: middle;
}

.row .column.link a * {
    font-size: 18px;
    vertical-align: middle;
}

.row .column.created-at {
    width: 40%;
    font-size: 16px;
    text-align: right;
}

.text-wrap .content {
    margin: 10px 20px;
    min-height: 150px;
    font-size: 18px;
    text-align: left;
}

.control-button-wrap.top {
    text-align: left;
}

.control-button-wrap.top a {
    margin: 0;
}

.control-button-wrap.top span {
    font-weight: 400;
    font-size: 16px;
}
