.popup {
    width: 500px;
}

.popup-title {
    margin: 10px 0;
}

.popup-inner .text-wrap {
    padding: 20px 0;
}

input, textarea {
    border: none;
    margin: 0;
    font-weight: 200;
}

.form-wrap .comment {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    font-size: 18px;
    font-weight: 200;
    white-space: pre-wrap;
}

.popup-inner .button-wrap {
    margin-top: 20px;
}

.popup-inner .button-wrap .button {
    min-width: 100px;
    padding: 10px 20px;
    margin: 0 10px;
}
