.popup {
    width: 400px;
}

.popup-inner {
    padding: 20px 40px 40px 40px;
}

.text-wrap * {
    text-align: left;
    margin-top: 5px;
}

.text-wrap .title {
    font-size: 16px;
    font-weight: 400;
}

.text-wrap .value {
    padding: 0 5px;
    line-height: 30px;
    font-weight: 200;
    font-size: 18px;
    border-bottom: 1px solid #efefef;
}


@media (max-width: 1070px) {
    .popup {
        width: calc(100% - 40px);
    }
}
