@charset "utf-8";

body {
    position: relative;
}

#wrap {
    min-height: 100vh;
    position: relative;
}

.header-inner, .footer-inner {
    width: 1200px;
    min-width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    font-size: 0;
}

/*헤더시작*/
#header {
    width: 100%;
    position: relative;
    background: #222;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    font-size: 0;
}

#header .logo {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

#header .logo a {
    display: block;
    height: 100%;
    font-size: 0;
    line-height: inherit;
}

#header .logo a img {
    display: inline-block;
    vertical-align: middle;
}

#header .mobile-utill {
    width: 100%;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: right;
    box-sizing: border-box;
}

#header.downsized {
    position: absolute;
    top: 0;
    animation-duration: 0.2s;
    animation-name: headerSlideOut;
}

#header.downsized .logo {
    position: absolute;
    width: 400px;
    height: 60px;
    line-height: 70px;
    top: 0;
    text-align: left;
    left: 10px;
}

.utill {
    height: 60px;
    position: relative;
}

.utill ul {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.utill li {
    float: left;
    font-size: 14px;
    line-height: 20px;
}

.utill li a {
    color: #fff;
}

.utill li:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 8px;
    background: #fff;
    margin: 0 10px;
}

.utill li.last:after {
    display: none;
}

.button.navigation {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
}

.button.navigation span {
    height: 2px;
    width: 20px;
    display: inline-block;
    background: #fff;
    position: absolute;
    left: 10px;
    top: 20px;
}

.button.menu span.middle {
    opacity: 0;
}

.button.menu span.top, .button.menu span.bottom {
    transition: all 0.5s;
}

.button.navigation span.top {
    /*top: 15px;*/
    transform: rotate(135deg);
}

.button.navigation span.bottom {
    /*top: 25px;*/
    transform: rotate(225deg);
}

.gnb {
    width: 100%;
    line-height: 40px;
}

.gnb > li {
    min-width: 150px;
    text-align: center;
    float: left;
    position: relative;
}

.gnb > li > a {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    display: block;
}

.gnb .lnb {
    width: 200px;
    position: absolute;
    left: 0;
    z-index: 10;
    text-align: left;
    display: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.gnb .lnb > li > a {
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: #444;
    display: block;
}

.gnb .lnb > li > a:hover {
    background: #666;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #222;
    font-size: 0;
}

#footer .footer-inner {
    padding: 20px 20px 40px 20px;
    text-align: left;
}

/*footer logo*/
#footer .footer-inner .logo {
    width: 200px;
    /*height: 50px;*/
    margin-left: -10px;
    display: inline-block;
    vertical-align: middle;
}

#footer .footer-inner .logo img {
    width: 100%;
}

/*footer content*/
#footer .footer-inner .text-wrap {
    margin-top: 15px;
}

#footer .text-wrap ul li {
    line-height: 25px;
}

#footer .text-wrap ul li p {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    color: #fff;
}

/*(style) footer front bar*/
#footer .text-wrap ul li:before {
    content: "";
    width: 2px;
    height: 26px;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

#footer .terms {
    font-size: 13px;
    line-height: 40px;
    color: #fff;
    position: absolute;
    right: 15px;
    bottom: 0;
}

#footer .terms a {
    color: #fff;
}

@media (min-width: 1070px) {
    .gnb > li:hover > a {
        color: #888;
    }

    .gnb > li:hover .lnb {
        display: block;
    }
}

@media (max-width: 1070px) {
    .header-inner, .footer-inner {
        width: 100%;
        min-width: auto;
    }

    #header {
        position: fixed;
        top: 0;
        left: 0;
        /*bottom: 0;*/
        bottom: auto;
        height: 60px;
        right: 0;
        overflow: hidden;
    }

    #header .logo {
        width: auto;
        max-width: 300px;
        height: 60px;
        line-height: 60px;
        position: static;
    }

    #header .logo a img {
        height: 40px;
    }

    .utill {
        height: 40px;
    }


    .gnb > li {
        width: 100%;
    }

    .gnb .lnb {
        width: 100%;
        position: static;
        display: none;
        box-shadow: none;
    }

    .gnb .lnb.opened {
        display: block;
    }
}
