#header {
    position: absolute;
    top: 0;
    /*z-index: 100;*/
}

#footer {
    position: absolute;
    bottom: 0;
}

#container .section {
    position: relative;
    overflow: hidden;
}

.section .page-inner {
    padding-top: 110px;
    text-align: center;
}

.section .page-inner.whole-page {
    padding-top: 0;
}

.section .page-inner .container-wrap {
    line-height: normal;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.section .page-inner .button-wrap {
    line-height: normal;
    margin: 20px 0 40px 0;
}

.section .page-inner .button-wrap .button.more {
    line-height: 20px;
    position: relative;
}

.section .page-inner .button-wrap .button.more * {
    vertical-align: middle;
}

.section .page-inner .button-wrap .button.more:hover:after {
    content: "";
    display: inline-block;
    height: 1px;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    background: #333;
}

@keyframes headerSlideOut {
    from {
        top: -60px;
    }

    to {
        top: 0;
    }
}

@keyframes headerSlideIn {
    from {
        top: 0;
    }

    to {
        top: -60px;
    }
}

/*
slider 페이지
 */
#page-start .slider-box {
    position: relative;
}

#page-start .slick button.slick-prev {
    left: 10px;
    background: url('/asset/images/icon/button_left_white@2x.png') no-repeat center;
}

#page-start .slick button.slick-next {
    right: 10px;
    background: url('/asset/images/icon/button_right_white@2x.png') no-repeat center;
}


#page-start .slider-text-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
}

#page-start .slider-text-wrap .text-wrap {
    padding: 40px 50px 40px 50px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    /*color: #000;*/
    /*border: 1px solid #fff;*/
    /*background: rgba(255, 255, 255, 0.6);*/
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
}

#page-start .slider-text-wrap .text-wrap .title {
    font-size: 26px;
    line-height: 50px;
    font-weight: 600;
}

#page-start .slider-text-wrap .text-wrap .content {
    font-size: 18px;
    font-weight: 400;
    white-space: pre-wrap;
}

/*
video background 패이지
 */
/*TODO need to set video height automatically*/

#page-intro {
    background: #000;
}

#page-intro .page-inner {
    width: 1200px;
    position: relative;
}

#page-intro::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -9;
    /*background: rgba(0, 0, 0, 0.3);*/
    background: rgba(0, 0, 0, 0.5);
}

#page-intro .text-box {
    width: 350px;
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 100px;
    /*background: rgba(255, 255, 255, 0.6);*/
}

#page-intro .text-wrap {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 80px;
    /*color: #000;*/
    color: #fff;
}

#page-intro .text-wrap .title {
    font-size: 26px;
    line-height: 50px;
    font-weight: 600;
}

#page-intro .text-wrap .content {
    font-size: 18px;
    font-weight: 400;
    white-space: pre-wrap;
}


/*
youtube 패이지
 */

#page-video hr {
    margin: 20px 0;
}

#page-video .main-video {
    display: inline-block;
}

#page-video .text-wrap {
    color: #000;
}

#page-video .text-wrap .page-title {
    margin: 0;
}

#page-video .text-wrap .content {
    font-size: 18px;
    white-space: pre-wrap;
}

/*
notice 페이지
 */

#page-notice .page-inner .table-box {
    width: 1200px;
    min-height: 400px;
    line-height: 400px;
    display: inline-block;
}

#page-notice .page-inner .table-wrap {
    min-height: 450px;
}

#page-notice .page-inner .table-wrap .column.title {
    width: 60%;
}

#page-notice .page-inner .table-wrap .column.created-at {
    width: 40%;
    text-align: right;
}

/*
preview 페이지
 */
/*slick override*/
#page-preview .slick button.slick-prev {
    left: -60px;
}

#page-preview .slick button.slick-next {
    right: -60px;
}

#page-preview .page-inner .slider-box {
    width: 1200px;
    line-height: 400px;
    display: inline-block;
}

/*
map 패이지
 */
#page-map .page-inner {
    width: 1280px;
    margin: 0 auto;
    padding: 140px 40px 40px 40px;
    box-sizing: border-box;
    /*background: #fff;*/
    font-size: 0;
    text-align: center;
    position: relative;
}

#page-map .page-inner > div {
    display: inline-block;
    vertical-align: top;
}

#page-map .location-list-box {
    top: 200px;
    left: 70px;
    bottom: 70px;
    width: 300px;
    position: absolute;
    z-index: 10;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#page-map .page-title {
    margin: 0;
    line-height: 50px;
    position: absolute;
    top: -50px;
    left: 10px;
    z-index: 10;
}

#page-map .location-list-wrap {
    height: 100%;
    /*background: rgba(255, 255, 255, 0.8);*/
    background: #fff;
    overflow-y: scroll;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#page-map .location-list-wrap li:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #eee;
}

#page-map .location-list-wrap .button {
    width: 100%;
}

#page-map .location-list-wrap li .text-wrap {
    padding: 15px;
    text-align: left;
}

#page-map .location-list-wrap .title {
    font-size: 18px;
    line-height: 25px;
    color: #000;
}

#page-map .location-list-wrap .content {
    font-size: 16px;
    color: #666;
    white-space: pre-wrap;
}

#page-map .map-box {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/*
submit 페이지
 */
#page-last {
    /*background: #999;*/
}

#page-last .page-inner {
    height: 100%;
    /*background: #fff;*/
    padding-bottom: 165px;
}

#page-last .page-inner .form-box {
    line-height: normal;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

#page-last .page-inner .form-box .title {
    font-size: 24px;
    line-height: 50px;
    font-weight: 600;
}

#page-last .form-wrap {
    display: inline-block;
    padding: 15px 45px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#page-last .page-inner .input-wrap {
    margin-top: 10px;
}

#page-last .page-inner .input-wrap * {
    vertical-align: top;
    display: inline-block;
    line-height: 25px;
}

#page-last .page-inner .input-wrap .input-title {
    width: 150px;
    text-align: right;
    margin-right: 15px;
    font-weight: 400;
}

#page-last .form-wrap input, #page-last .form-box textarea {
    width: 400px;
    margin: -1px;
    resize: none;
    border: 1px solid #bbb;
}

#page-last .form-wrap .input-wrap.agreement .input-title {
    width: auto;
}

#page-last .form-wrap input[type=checkbox] {
    margin: 4px;
    width: 16px;
    height: 16px;
}

#page-last .form-wrap input:focus, #page-last .form-box textarea:focus {
    border: 1px solid #000;
    font-weight: 200;
}

#page-last .form-wrap .text-wrap.agreement {
    width: 600px;
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #000;
    height: 100px;
    overflow-y: scroll;
}

#page-last .form-wrap .text-wrap * {
    font-size: 16px;
    text-align: left;
    white-space: pre-wrap;
}

#page-last .page-inner .button {
    width: 100px;
    margin-top: 15px;
    line-height: 40px;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
}

.page-popup {
    width: 450px;
    line-height: normal;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 15;
}

.page-popup .interface {
    height: 40px;
    line-height: 40px;
    text-align: right;
    background: #000;
    position: relative;
}

.page-popup .interface .button.close {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.page-popup .interface .button.close * {
    display: inline-block;
    vertical-align: middle;
}

.page-popup .popup-box {
    position: relative;
}

.page-popup .slider-wrap {
    width: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
}

.page-popup .slider-wrap .slick-item {
    height: 600px;
    display: inline-block;
}

.page-popup .popup-inner .button-wrap {
    height: 60px;
    line-height: 60px;
    background: #000;
    text-align: center;
}

.page-popup .popup-inner .button-wrap a {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
