#header {
    position: absolute;
    top: 0;
    /*z-index: 100;*/
}

#footer {
    position: absolute;
    bottom: 0;
}

#fullpage .section {
    position: relative;
    overflow: hidden;
}

@keyframes headerSlideOut {
    from {
        top: -60px;
    }

    to {
        top: 0;
    }
}

@keyframes headerSlideIn {
    from {
        top: 0;
    }

    to {
        top: -60px;
    }
}

/*
slider 페이지
 */
#page-start .slider-box {
    position: relative;
}
#page-start .slick button.slick-prev {
    left: 10px;
    background: url('/asset/images/icon/button_left_white@2x.png') no-repeat center;
}

#page-start .slick button.slick-next {
    right: 10px;
    background: url('/asset/images/icon/button_right_white@2x.png') no-repeat center;
}


#page-start .slider-text-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
}

#page-start .slider-text-wrap .text-wrap {
    padding: 20px 30px 50px 30px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: #000;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.6);
}

#page-start .slider-text-wrap .text-wrap .title {
    font-size: 26px;
    line-height: 50px;
    font-weight: 600;
}

#page-start .slider-text-wrap .text-wrap .content {
    font-size: 18px;
    font-weight: 400;
}

/*
video background 패이지
 */
/*TODO need to set video height automatically*/
#page-intro video {
    position: absolute;
    top: -10vh;
    left: -40vw;
    bottom: -10vh;
    right: -40vw;
    z-index: -10;
    height: 120vh;
    width: 180vw;
    min-width: 1080px;
    /*min-width: 120%;*/
    min-height: 120vh;
}

#page-intro::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -9;
    background: rgba(0, 0, 0, 0.3);
}

#page-intro .text-box {
    width: 350px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 100px;
    background: rgba(255, 255, 255, 0.6);
}

#page-intro .text-wrap {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    color: #000;
}

#page-intro .text-wrap .title {
    font-size: 26px;
    line-height: 50px;
    font-weight: 600;
}

#page-intro .text-wrap .content {
    font-size: 18px;
    font-weight: 400;
}


/*
youtube 패이지
 */

#page-video .page-inner {
    padding-top: 100px;
    text-align: center;
}

#page-video .inner-box {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#page-video hr {
    margin: 40px 0;
}

#page-video .main-video {
    display: inline-block;
}

#page-video .text-wrap {
    color: #000;
}

#page-video .text-wrap .title {
    font-size: 26px;
    line-height: 50px;
    font-weight: 600;
}

#page-video .text-wrap .content {
    font-size: 18px;
}

/*
preview 페이지
 */

/*slick override*/
#page-preview .slick button.slick-prev {
    left: -60px;
}

#page-preview .slick button.slick-next {
    right: -60px;
}

#page-preview .page-inner {
    padding-top: 100px;
    text-align: center;
}

#page-preview .inner-box {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#page-preview .page-inner h3.title {
    margin: 0 20px;
    font-size: 26px;
    line-height: 50px;
    font-weight: 600;
}

#page-preview .page-inner .preview-slider {
    width: 900px;
    margin-top: 15px;
    display: inline-block;
}

#page-preview .page-inner .slick-element .element-box {
    overflow: hidden;
    margin: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#page-preview .page-inner .slick-element .image-wrap {
    width: 100%;
    height: 200px;
    display: inline-block;
    text-align: center;
    line-height: 200px;
}

#page-preview .page-inner .slick-element .image-wrap img {
    display: inline-block;
    vertical-align: middle;
}

#page-preview .page-inner .slick-element .text-wrap {
    text-align: left;
    background: #222;
    color: #fff;
    padding: 10px;
}

#page-preview .page-inner .slick-element .text-wrap .title {
    font-size: 18px;
    line-height: 30px;
}

#page-preview .page-inner .slick-element .text-wrap .content {
    font-size: 16px;
    height: 120px;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    display: inline-block;
}

#page-preview .button.more {
    line-height: 30px;
}

#page-preview .button.more * {
    vertical-align: middle;
    margin: 0 5px;
}

/*
map 패이지
 */
#page-map {
    /*background: #bbb;*/
}

#page-map .page-inner {
    text-align: center;
    /*background: #fff;*/
    font-size: 0;
    position: relative;
}

#page-map .page-inner > div {
    display: inline-block;
    vertical-align: top;
}

#page-map .list-box {
    top: 190px;
    left: 40px;
    bottom: 40px;
    width: 300px;
    position: absolute;
    z-index: 10;
}

#page-map .list-box h3.title {
    font-size: 22px;
    line-height: 50px;
    font-weight: 600;
    color: #222;
    /*text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);*/
    position: absolute;
    top: -50px;
    left: 10px;
    z-index: 10;
}

#page-map .list-wrap {
    height: 100%;
    /*background: rgba(255, 255, 255, 0.8);*/
    background: #fff;
    overflow-y: scroll;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#page-map .list-wrap li:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #eee;
}

#page-map .list-wrap .button {
    width: 100%;
}

#page-map .list-wrap li .text-wrap {
    padding: 15px;
    text-align: left;
}

#page-map .list-wrap .title {
    font-size: 18px;
    line-height: 25px;
    color: #000;
}

#page-map .list-wrap .content {
    font-size: 16px;
    color: #666;
}

#page-map .map-box {
    width: 100%;
    height: 100%;
}

/*
submit 페이지
 */
#page-last {
    /*background: #999;*/
}

#page-last .page-inner {
    height: 100%;
    /*background: #fff;*/
    padding-top: 100px;
    padding-bottom: 165px;
}

#page-last .page-inner {
    text-align: center;
}

#page-last .page-inner .form-wrap {
    line-height: normal;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

#page-last .page-inner .form-wrap .title {
    font-size: 24px;
    line-height: 50px;
    font-weight: 600;
}

#page-last .form-box {
    display: inline-block;
    padding: 15px 45px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#page-last .page-inner .input-wrap {
    margin-top: 10px;
}

#page-last .page-inner .input-wrap * {
    vertical-align: top;
    display: inline-block;
    line-height: 25px;
}

#page-last .page-inner .input-wrap .input-title {
    width: 150px;
    text-align: right;
    margin-right: 15px;
}

#page-last .form-box input, #page-last .form-box textarea {
    width: 400px;
    margin: -1px;
    resize: none;
    border: 1px solid #bbb;
}

#page-last .form-box .input-wrap.agreement .input-title {
    width: auto;
}

#page-last .form-box input[type=checkbox] {
    margin: 4px;
    width: 16px;
    height: 16px;
}

#page-last .form-box input:focus, #page-last .form-box textarea:focus {
    border: 1px solid #000;
}

#page-last .form-box .text-wrap {
    width: 600px;
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #000;
    text-align: left;
}

#page-last .page-inner .button {
    width: 100px;
    margin-top: 15px;
    line-height: 40px;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
}
