.inner-box {
    padding: 40px 0 120px 0;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

h3.title {
    margin: 40px 20px;
    font-size: 26px;
    font-weight: 600;
}

.form-wrap {
    width: 1125px;
    padding: 20px 0 40px 0;
    text-align: center;
    display: inline-block;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.form-box {
    width: 800px;
    display: inline-block;
    padding-bottom: 40px;
}


body .form-wrap .input-wrap .input-title {
    width: calc(45% - 15px);
}

body .form-wrap .input-wrap input,
body .form-wrap .input-wrap textarea,
body .form-wrap .input-wrap select {
    width: 55%;
}

.error-message-wrap {
    height: 60px;
    line-height: 60px;
}
.error-message-box {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.error-message-wrap .error-message-box * {
    color: #dd4814;
    font-size: 16px;
    line-height: 20px;
}
