.topic-wrap input, .topic-wrap textarea {
    border: none;
    width: 100%;
    margin: 0;
}

.topic-wrap .row .column.title {
    width: 100%;
}

.topic-wrap .text-wrap .content {
    min-height: 400px;
    padding: 20px;
    font-size: 18px;
    font-weight: 200;
}

.topic-wrap .slider-wrap .slick-item {
    position: relative;
}

.topic-wrap .slider-wrap .slick-item.add {
    border: 1px solid #fff;
}

.topic-wrap .slider-wrap .slick-item input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.topic-wrap .slider-wrap .slick-item label {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/*.topic-wrap .slider-wrap .slick-item > a {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.topic-wrap .slider-wrap .slick-item-hover {
    display: none;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.topic-wrap .slider-wrap .slick-item:hover .slick-item-hover {
    display: inline-block;
}

.topic-wrap .slider-wrap .slick-item-hover .button.delete-image {
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

.topic-wrap .slider-wrap .slick-item-hover .button.delete-image * {
    vertical-align: middle;
}

.topic-wrap .button-wrap {
    padding-top: 20px;
}

.topic-wrap .button-wrap .button {
    min-width: 100px;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
}
