.page-inner, .container-inner {
    padding-bottom: 60px;
}

.topic-wrap .row.link {
    width: 100%;
    padding: 0 5px;
}

.topic-wrap .row.link a {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

.topic-wrap .row.user a * {
    font-size: 18px;
    vertical-align: middle;
}

.topic-wrap .row .column.title {
    width: 60%;
}

.topic-wrap .row .column.created-at {
    width: 40%;
    font-size: 16px;
    text-align: right;
}

.topic-wrap .text-wrap .content {
    min-height: 250px;
    padding: 20px;
    font-size: 18px;
    font-weight: 200;
    white-space: pre-wrap;
}

.topic-wrap .control-button-wrap {
    line-height: 20px;
    position: absolute;
    bottom: 10px;
    right: 0;
}

.inner-box .line {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
}
